@font-face {
    font-family: poppins-bold;
    src: url(poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppins-light;
    src: url(poppins/Poppins-Light.ttf);
}

*{
    font-family: poppins-light;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
.container{
    position: relative;
}
.navbar{
    display: flex;

}
.icon{
        width: 109rem;
        height: 5rem;
        background-color: red;
}
.tripledot{
    position: relative;
    top: 12rem;
    padding: 2rem;
}
.home, .finder, .settings, .user{
    position: relative;
    top: .0rem;
    /* bottom: 6rem; */
    width: 3rem;
    height: 3rem;
    background-color: blue;
    border: 0.1rem solid blue;
    border-radius: 50%;
    margin: 2rem;
}
.home{
    background-image: url('home icon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.finder{
    background-image: url('binocular.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.settings{
    background-image: url('settings.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.user{
    background-color: rgba(0, 0, 0, .6);
    /* background-image: url('home icon.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.tripledot{
    top: 0rem;
    font-size: 3rem;
    color: rgb(17, 154, 208);
}

.journeyboard{
    position: absolute;
    top: 12rem;
    width: 12rem;
    height: 10rem;
    border: 0.1rem solid white;
    border-radius: 6rem;
    box-shadow: 2rem 2rem 8.94rem rgb(220, 220, 220);
    border: 0.2rem solid rgba(255, 255, 255, );
    background-color: black;
    z-index: 4;
}
.heading>em{
    position: relative;
    left: 12rem;
}
.boardcontent{

    height: 90%;
    border: 0.2rem solid rgba(124, 124, 124, .6);
    background-color: white;
}
.heading{
    font-family: poppins-bold;
    color: white;
    border-radius: 6rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.point{
    text-align: center;
    font-family: poppins-bold;
}
.tasklist>li{
    font-size: 1.3rem;
    position: relative;
    left: 12rem;
}
.slide{
    transform: translateX(-12rem);
}
.disappear{
    display: none;
}
.show{
    display: block;
}
.hidshow{
    text-align: center;
    position: relative;
    top: 32rem;
    left: 22rem;
}
.hidshow>p{
    width: 12rem;
    color: rgb(37, 164, 214);
    border: 0.4rem solid rgb(37, 164, 214);
    border-radius: 4rem;
}
.content{
    position: relative;
    left: 15rem;

    width: 14rem;
    height: 110rem;
    background-color: blue;
    border: .1rem solid black;
} 
.insidecontent{
    position: relative;
    top: 1.1rem;
    height: 100rem;
    background-color: #fff;
}
.content>p{
    margin: 0;
    padding: 0;
    font-family: poppins-bold;
    color: white;
    text-transform: capitalize;
}
.assetheadfirst{
    position: relative;
    left: 12rem;
    font-size: 13rem;
    width: 103rem;
    border: .2rem solid white ;
    box-shadow: 1rem 1rem 3rem 2rem rgb(225, 225, 225);
    border-radius: 4rem;
    background-color: black;
}
.assetheadsecond{
    position: relative;
    bottom: 46rem; 
    left: 103rem;
    font-size: 13rem;
    width: 103rem;
    border: .2rem solid white ;
    box-shadow: 1rem 1rem 3rem 2rem rgb(225, 225, 225);
    border-radius: 4rem;
    background-color: black;
}
#textarea{
    margin-left: 8rem;
    border: 0.1rem solid white;
    border-radius: 3rem;
}
.ssubmit>input{
    position: relative;
    top: 9rem;
    left: 82rem;
    background-color: green;
    color: #fff;
    border: .2rem solid green;
    border-radius: 2rem;
}
.assetheadfirst>p, .assetheadsecond>p, .assetheadfour>p, .assetheadthree>p, .assetheadsix>p, .assetheadfive>p{
    text-align: center;
    color: white;
}
.assetfirstcontent, .assetsecondcontent, .assetfourcontent, .assetthreecontent, .assetsixcontent, .assetfivecontent {
    background-color: white;
}
.assetsecondcontent{
    height: 30rem;
    width: 103rem;
}
.assetheadfour{
    position: relative;
    bottom: 42rem;
    left: 103rem;
}
.assetheadthree{
    position: relative;
    bottom: 33rem;
}
.assetheadfour{
    position: relative;
    bottom: 190rem;
}
.assetheadfour, .assetheadthree, .assetheadsix, .assetheadfive{
     color: #fff;
    font-size: 13rem;
    width: 103rem;
    border: .2rem solid white ;
    box-shadow: 1rem 1rem 3rem 2rem rgb(225, 225, 225);
    border-radius: 4rem;
    background-color: black;
}
.assetfourcontent{
    height: 40rem;
    background-color: white;
    background-image: url('fronimg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.assetthreecontent{
    /* width: 67rem; */
    height: 120rem;
    background-color: #fff;
    color: black;
    border: 0.2rem solid red;
}
.assetsixtcontent{
    height: 163rem;
    border: 0.2rem solid red;
}
.assetheadsix{
    position: relative;
    bottom: 104rem;
    left: 102rem;
    height: 92rem;
}
.assetsixcontent{
    height: 42rem;
}
.assetsixcontent>iframe{
    width: 62rem;
    height: 34rem;
}
.assetheadfive{
    position: relative;
    bottom: 102rem;
    height:91rem;
}
.assetfivecontent{
    height: 63rem;
    color: black;
}
.assetfivecontent>audio{
    width: 108rem;
    height: 96rem;
}
.audio>audio{
    position: relative;
    bottom: 13rem;
    left: 12rem;
    width: 73rem;
    height: 34rem;
}
